.container{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}
table{
text-align: center;
}
table,tr,td,th{
  border:1px solid black;
  border-collapse: collapse;
}
input{
  width:100px;
  outline: none;
  border:none;
}
